<section id="pmiel" class="seccion-gris">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titulo">Pestiño de miel</h1>
                    <br/><br/>
                    <div class="row">
				        
				        <div class="col-md-4">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Elaboración artesana</h4>
				                    <p>Los pestiños se hacen doblandolos a mano, uno a uno, de manera totalmente artesanal.</p>        
				                </div>
				                 <%=image_tag ('foto 21.png')%>
				            </div>
				             <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Para intolerantes a la lactosa</h4>
				                    <p>Los pestiños de miel no contienen leche ni derivados.</p>        
				                </div>
				                 <%=image_tag ('foto 1.png')%>
				            </div>
				        </div>
				        <div class="col-md-4">            
				            <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>A granel puro</h4>
				                     <p>Nuestros productos se distribuyen en distintas presentaciones. También a granel puro.</p>       
				                </div>
				                 <%=image_tag ('foto 5.png')%>
				            </div>
				             <div class="thumbnail img-fluid">
				                <div class="caption">
				                    <h4 class='imagen'>Miel pura</h4>
				                    <p>La miel de la sierra norte de Sevilla es probablemente una de las de mejor calidad.</p>        
				                </div>
				                 <%=image_tag ('foto 20.png')%>
				            </div>
				        </div>

				        <div class="col-md-4">            
				           <p class="descripcion">
                    			En su elaboración, hacemos uso de materias primas totalmente naturales como harina de trigo, clavo y matalahúga recién molidos, acompañados de un buen vino de la zona y la mejor miel recién extraída por los apicultores de la sierra norte de Sevilla.
                    	   </p>
                    	   
                    	   <!-- Información sobre alergenos 
                    	   <p class="alergeno"> 
                    	   		<a class="ialergeno" role="button" data-toggle="collapse" href="#alergenopmiel" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Alérgenos</a>
						   </p>

							<div class="collapse" id="alergenopmiel">
							  <div class="well"><p class="alergeno">Apto para intolerantes a la lactosa. No coniene leche ni derivados de ésta.</p>
							    <p class="alergeno">Puede contener trazas de huevo, sulfitos, frutos de cascara y granos de sésamo.</p>
							  </div>
							</div>
							 Fin -->

							<!-- Ejemplo de una ventana modal-->
							
						
							<p class="ialergeno"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bpmiel"role="button">Alérgenos</a></p><br/><br/><br/>

							<p class="ialergeno"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bpazucar"role="button">Alérgenos</a></p><br/><br/><br/>

							<p class="ialergeno"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bperruna"role="button">Alérgenos</a></p><br/><br/><br/>

							<p class="ialergeno"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bempanadilla"role="button">Alérgenos</a></p><br/><br/><br/>

							<p class="ialergeno"><span class="glyphicon glyphicon-mini glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<a class="ialergeno" id="bgalleta"role="button">Alérgenos</a></p><br/><br/><br/>




							<%= render 'secciones/modal'%>
							<!-- FIn -->

				        </div>
				       

                    </div>

                    

                </div>
            </div>
        </div>
</section>