<!DOCTYPE html>
<html lang="es">

<head>
    <%= favicon_link_tag 'palvarez.png' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Productos artesanos, pastelería Álvarez. Los mejores pestiños">
    <meta name="keywords" content="pestiños, pastelería, empanadilla, sin lactosa, artesanal, calidad"
    <meta name="author" content="enRails">

    <title>Pastelería Álvarez</title>

    <%= render 'layouts/externos' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navegacion -->
    <%= render 'layouts/navegacion2' %>
    
    <!-- Secciones independientes de la página-->
    <div>
    <%= render 'secciones/inicio' %>
    </div><div>
    <%= render 'secciones/acerca' %>
    </div><div>
    <%= render 'secciones/pestinos' %>
    </div><div>
    <%= render 'secciones/pmiel' %>
    </div><div>
    <%= render 'secciones/pazucar' %>
    </div><div>
    <%= render 'secciones/perruna' %>
    </div><div>
    <%= render 'secciones/galleta' %>
    </div><div>
    <%= render 'secciones/empanadilla' %>
    </div><div>
    <%= render 'secciones/contacta' %>
    </div>
    <%= render 'secciones/creditos' %>

    <%= render 'secciones/modal'%>
    <!-- jQuery -->
   <%= render 'layouts/jspie' %>

</body>

</html>
